.App {
  text-align: center;
  background-color: #cccccc;
  height: 100vh;
}

.App-header {
  background-color: #eeeebb;
  width: 93%;
  max-width: 300px;
  margin: auto;
  padding: 10px;
  text-align: center;
}

#logo {
  width: 75%;
}

#tela1 {
  background-color: black;
  border: black 1px solid;
  border-radius: 5px;
  width: 90%;
  height: 75px;
  font-family: 'courier new';
  font-size: 30pt;
  color: red;
  text-align: center;
}

#tela2 {
  background-color: black;
  border: black 1px solid;
  border-radius: 5px;
  width: 90%;
  height: 25px;
  font-family: 'courier new';
  font-size: 15pt;
  color: red;
  text-align: center;
}

#botaoA, #botaoB, #botaoC, #botaoD {
  width: 45%;
  height: 100px;
  border: black 1px solid;
  border-radius: 5px;
  font-size: 24pt;
  color: white;
  background-color: red;
}

#botaoB {background-color: yellow;}
#botaoC {background-color: blue;}
#botaoD {background-color: green;}

#botaoStart {
  width: 90%;
  height: 30px;
  border: black 1px solid;
  border-radius: 5px;
  background-color: white;
  color: blue;
  font-size: 11pt;
}